.letteranim body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.letteranim div {
    width: 100%;
/*     position: absolute;
 */    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.letteranim h1 {
    font-size: 2.2rem;
    letter-spacing: -1px;
    font-weight: 700;
    color: #7e2ea0;
    text-align: center;
}

.letteranim .cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.letteranim .cssanimation span { display: inline-block }

.letteranim .open {
    width: 250px;
    margin: 0 auto;
    overflow: hidden;
    animation-name: open;
}
@keyframes open {
    from { width: 0 }
}