.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 10px;
    padding: 10px;
    max-width: 95%;
    margin: 2rem auto;
    scrollbar-width: none;         /* Firefox */
    -ms-overflow-style: none;      /* IE and Edge */
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none;                /* Chrome, Safari */
  }
  
  .scroll-item {
    flex: 0 0 400px;              /* match image width for exact scroll */
    max-width: 400px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    scroll-snap-align: start;
  }
  @media (max-width: 768px) {
    .scroll-item {
      flex: 0 0 300px;
      max-width: 300px;
      height: 200px;
    }
  }
  
  @media (max-width: 480px) {
    .scroll-item {
      flex: 0 0 250px;
      max-width: 250px;
      height: 160px;
    }
  }
  
  .arrow-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 1rem;
  }
  
  .arrow-row button {
    padding: 10px 10px;
    font-size: 1.2rem;
    border-radius: 28px;
    border: none;
    background-color: #021f3f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .arrow-row button:hover {
    background-color: #000810;
  }
  